body {
    background-color: lightcyan;
}
.gameHeader {
    display: flex;
    justify-content: space-around;
}
.correctLets {
    display: inline-block;
}
.wordAndGuess {
    text-align: center;
}
.guesses {
    display: inline-block;
    padding-right: 10px;
}